/* TODO: move into chakra styling */

.editor-input {
  resize: none;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-paragraph[data-label] {
  margin-left: 4em;
}

.editor-paragraph[data-label]:before {
  content: attr(data-label);
  color: var(--label-color);
  position: relative;
  display: block;
  height: 0;
  left: -4em;
  user-select: none;
}
