{
  admin off
}

http:// {
  handle_path /auth/api/* {
    reverse_proxy http://kratos:4433
  }

  handle_path /auth/* {
    reverse_proxy http://kratos-selfservice-ui-node:4455
  }

  handle_path /api/* {
    reverse_proxy http://api-server:3001
  }

  @app_route {
    path /home /project/*
  }

  route @app_route {
    rewrite * /app{path}
    reverse_proxy http://app:3000
  }

  handle /app/* {
    reverse_proxy http://app:3000
  }

  reverse_proxy http://site:4321
}
